
#HHgreen {color: green;
}
p{float:left}
#väri1{font-size:20px; color:blue}
#väri2{font-size:13px ; color:pink}
#väri3{font-size:65px;color:red}
#väri4{font-size:55px;color:black}
#väri5{font-size:23px;color:tomato}
#fancyHH{font-family:Garamond; font-size:35px; text-align:left}
